body {
    font-family: sans-serif;
}

.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    max-width: 500px;
    padding: 20px 10px;
    background: #f1f2f6;

    h1 {
        font-size: 18px;
    }

    &.disabled {
        h1 {
            opacity: 0.3;
        }
    }
}